/** Основное **/
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #ded1be url(images/back.jpg) repeat top left;
	font-family: "Arial", Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #80795F;
}

h1{
	margin-top: 0px;
	margin-left: 0px;
	font-weight: bold;
	font-size: 23pt;
	color: #5E5945;
}

h2{
	margin-top: 0px;
	font-weight: bold;
	font-size: 15pt;
	color: #5E5945;
}

h3{
	margin-top: 0px;
	font-weight: bold;
	font-size: 13pt;
	color: #68634e;
}

h4 {
    font-size:10pt;
    line-height:110%;
	font-weight:bold;
	text-align:center;
	margin-top:1em;
	color:#505f7f;
}
h4 a:hover {
	color:#00a877;
}

hr {
	display: none;
}

p, ol, ul {
	text-align: justify;
	line-height: 160%;
}

ul {
	list-style-type: square;
}

a {
	color: #488081;
}

a:hover {
	text-decoration: none;
}

/** HEADER */

#header {
	float: left;
	width: 180px;
	margin-right: 1px;
	padding: 10px;
}

#header h1 {
	margin: 0px;
	padding-top: 12px;
	text-align: center;
	font-size: 20px;
}

#header h2 {
	margin: 0px;
	text-align: center;
	font-size: 11px;
}

/** Меню **/

#menu {
	margin: 20px auto;
	width: 1050px;
    padding: 20px 0px 20px 0px;
	background-color: #5E5945;
	font-size: 10pt;
	color: #FFFFFF;
}

html>body #menu {
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
	text-align: center;
}

/** Элемент меню **/
#menu a {
	display: inline;
	padding: 20px;
	background-color: #5E5945;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #e5e2cf;
}

#menu a:hover {
	padding: 20px;
	background-color: #AFC797;
	text-decoration: none;
	color: #5E5945;
}

/** СОДЕРЖИМОЕ **/
#content {
	margin: auto;
	width: 1050px;
	padding: 20px;
	background-color: #faf6f6;
	border-left: 1px solid #5E5945;
	border-right: 1px solid #5E5945;
}

/** Кусок с новостями или страницей (или галереей) **/

#left {
	 float: left;
	 margin: 0px auto;
	 padding: 0px;
	 width: 700px;
}

/** Форма комментариев **/

.optionstable{
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           text-align:left;
                           }
             .optionstable td{
                           border-bottom: solid 1px silver;
                           border-right:solid 1px silver;
                           padding:4px;
                           }
             .smilestable  {
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           border-bottom: solid 1px silver;
                           border-right: solid 1px silver;
                           text-align:left;
                           }
             .smilestable td {
                           border-bottom: none;
                           border-right:none;
                           padding:4px;
                           }
             #without {
                           border-right:none;
                           }
             #without2 {
                           border-left:none;
                           text-align:right;
                           color:gray;
                           }
             .titletable td {
                           background-color:#1b3045;
                           font-weight: bold;
                           color: white;
                           }
             .hide {
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           border-right: solid 1px silver;
                           border-bottom: solid 1px silver;
                           width:80%;
                           background-color:#DDDDDD;
                           text-align:left;
                           font-family:verdana,arial,tahoma;
                           font-size:8pt;
                           font-weight: bold;
                           padding:4px;
                           margin-bottom:10px;
                           }

              .hidetext {
                           
                           font-family:verdana,arial,tahoma;
                           background-color:#FFFFFF;
                           font-size:10pt;
                           padding:4px;
                           margin-top:5px;
                           font-weight: normal;
              }
             .faqtable td {
                           background-color:#eeebeb;
                           }
             input, textarea, select {
	                   color: #111111;
	                   margin-right:2px;
	                   padding:2px;
	                   font-family:verdana,arial,tahoma;
	                   font-size:10pt;
	                   border-left: 1px solid silver;
	                   border-top: 1px solid silver;
	                   border-right: 1px solid silver;
	                   border-bottom: 1px solid silver;
	                   background-color: #FFFFFF;
                           }
                           
             .spoiler {
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           border-right: solid 1px silver;
                           border-bottom: solid 1px silver;
                           width:80%;
                           background-color:#DDDDDD;
                           text-align:left;
                           font-family:verdana,arial,tahoma;
                           font-size:8pt;
                           font-weight: bold;
                           padding:4px;
                           margin-top:3px;
                           margin-bottom:10px;
                           }

             .spoilertext {
                           
                           font-family:verdana,arial,tahoma;
                           background-color:#FFFFFF;
                           font-size:10pt;
                           padding:4px;
                           margin-top:5px;
                           font-weight: normal;
                           }
                           
             .quote {
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           border-right: solid 1px silver;
                           border-bottom: solid 1px silver;
                           width:80%;
                           background-color:#DDDDDD;
                           text-align:left;
                           font-family:verdana,arial,tahoma;
                           font-size:8pt;
                           font-weight: bold;
                           padding:4px;
                           margin-bottom:10px;
                           }

             .quotetext {
                           
                           font-family:verdana,arial,tahoma;
                           background-color:#FFFFFF;
                           font-size:10pt;
                           padding:4px;
                           margin-top:5px;
                           font-weight: normal;
                           }

             input:hover, textarea:hover, select:hover { 
	                   border-left: 1px solid #666666;
	                   border-top: 1px solid #666666;
	                   border-right: 1px solid #666666;
	                   border-bottom: 1px solid #666666;
	                   background-color: #F5F5F5;
                           }
             .pager a {
                           padding: 2px 5px;
                           background: #f7f7f7;
                           border: 1px solid #c7c7c7;
                           color: #000000;
                           text-decoration: none;
                           margin: 0px 1px;
                           font-weight: bold;
                           }

             .pager a:hover {
                           background: #FFF2D7;
                           border: 1px solid #666666;
                           text-decoration: none;
                           }

             .pager a.active{
                           background: #666666;
                           border: 1px solid #666666;
                           color: #ffffff;
                           font-weight: bold;
                           }

             .pager a.active:hover {
                           background: #666666;
                           }
                           .ro {
        text-indent: 30px;
}
.ro2 {
        text-indent: 130px;
}
.ro3 {
        text-indent: 150px;
        margin-bottom: -5px;
}
.ro4 {
        text-indent: 150px;
        font-size: 10pt;
}

#left {
	 float: left;
	 margin: 0px auto;
	 padding: 0px;
	 width: 730px;
}

/** Кусок с профилем, кнопочками, последними конфетами, и так далее **/

#right {
	 float: right;
	 margin: 0px;
	 padding: 10px;
	 width: 280px;
   	 border: 1px dashed #5E5945;
}

/** Рекламный блок **/
.advertizing {display:block;position:relative !important;font-family:inherit;width:100%;height:auto;clear:both;}

/** Подвал **/

#footer {
	clear: both;
}

#footer p {
	margin: 0px auto;
	width: 1050px;
    padding: 10px 0px 10px 0px;
	background-color: #cdcdcd;
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
}

/** Эпотаж **/
.container {
	width: 850px;
}
blockquote {
	background: #fcf8f2;
	border-color: #f0ad4e;
	font-size: 15px;
}
footer {
	background: #eee;
	padding: 15px 0;
}
.row div {
	margin-bottom: 20px;
}
.jumbotron {
	padding-bottom: 30px;
	padding-top: 30px;
}
.demo-wrapper {
  padding: 1em
}